html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent; }


    body {
        margin: 0;
        font-family: Arimo, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #343a40;
        text-align: left;
       
        background-image: url("images/frame.jpg");
    }


*{
    padding: 0;
    margin: 0;
    border: none;
}

.header{
    background-image: url("images/frame.jpg");
    display: block;
    text-align: center;
    padding: 14px 16px;
    width: 800px;
}

.main {
    background-image: url('images/frame.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.menu{
    display: block;
    text-align: center;
    padding: 14px 16px;
    margin-bottom: 20px;
       
}

.menu a{
    padding: 10px;
    color: red;    
    text-decoration:none ;
    
    
}

a{
    text-decoration:none ;
    font-size: 17px;
}

.active {
    background-color:rgb(101, 101, 240);
    color: white;
    border-radius: 10px;
}

.menu a:hover{
    background-color: red;
    color: white;
    border-radius: 10px;
    margin: 5px;
}
input[type="text"],
input[type="email"],
input[type="tel"]{
    height: 35px;
    border-bottom: 1px solid #ccc;
    outline: transparent;
    display: flex;
}

.form {
    margin-left: 30px;
    margin-top: 40px;;
    align-content: center;
}

.form-field{
    height: 35px;
    outline: transparent;
 
}

label{
    padding-right: 20px;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: red;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }
  .logo-text{
    float: left;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style:italic;
    color: red;
    width: 200px;
}

.social{
    float: right;
    text-decoration: none;
    padding: 5px;
    

  
}

footer{
    margin: 20px;
    background-color: antiquewhite;
    clear: both;
    height: 30px;
    padding: 15px;
   
}
article{
    width: 60%;
    margin: 20px;
    text-align: justify;
    float: left;
}

p{
    margin: 20px 0px;
}

aside{
    width: 20%;
    float: left;
    background-color: antiquewhite;
    margin: 20px;
    padding-left: 10px;
}
aside h2{
    color: blue;
}

aside input{
    height: 35px;
    border-bottom: 1px solid #ccc;
    outline: transparent;
    display: flex;
}

.relatedPosts{
    margin: 20px;
}

.relatedPosts a, ul{
    text-decoration: none;
    color: red;

}
.relatedPosts ul li{
    margin-left: 15px;

}

.product-main h1{
    font-size: 40px;
    margin: 20px;
}

h1{
    font-size: 20px;
    margin-left: 30px;
}





.buy-button a{
    display: block;
    text-align: center;
    padding: 14px 16px;
    background-color: red;
    margin-bottom: 20px;
    width: 70px;
    color: rgb(250, 247, 247);    
    text-decoration:none ;
    
}

a{
    text-decoration:none ;
    font-size: 17px;
}

.active {
   
    color: white;
    border-radius: 10px;
    width: 70px;
}

.buy-button a:hover{
    background-color: #ccc;
    color: blue; 
    width: 70px;   
   
}

